.container
  .panel.panel-default
    .panel-heading Endpoint Groups
    %table.table
      %thead
        %tr
          %th Group Name
          %th Endpoint Count
          %th Actions
      %tbody
        - @configuration_groups.each do |group|
          %tr
            %td
              = link_to group.name, configuration_group_path(group)
              - if group.canary_in_progress?
                %span.label.label-info canary
            %td=group.clients.try(:count).to_i
            %td
              - unless group.clients.any?
                - unless group.name == "default"
                  = form_for(group, method: :post) do
                    = link_to 'Delete', group, method: :delete, class: 'btn btn-xs btn-danger'

.container
  = form_for(:configuration_group) do |f|
    .form-group
      %label Add new Configuration Group
      = f.text_field :name, placeholder: 'New Configuration Group', id: 'group', class: 'form-control'
    = f.submit 'Submit', class: 'btn btn-primary'


