%p#notice= notice
%h1 Listing Api Keys
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @api_keys.each do |api_key|
      %tr
        %td= link_to 'Show', api_key
        %td= link_to 'Edit', edit_api_key_path(api_key)
        %td= link_to 'Destroy', api_key, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Api key', new_api_key_path
