.container
  .panel.panel-default
    .panel-heading Active API Keys
    %table.table.table-hover
      %thead
        %tr
          %th Key
          %th Notes
          %th Permissions
          %th Action
      %tbody
        - @api_keys.each do |key|
          %tr
            %td= key.key
            %td= key.notes
            %td= key.perms
            %td
              = form_for(key, method: :post) do
                = link_to 'Revoke', key, method: :delete, class: 'btn btn-xs btn-danger'
  = link_to 'New', new_api_key_path, class: 'btn btn-default'
