= form_for @configuration do |f|
  - if @configuration.errors.any?
    #error_explanation
      %h2= "#{pluralize(@configuration.errors.count, "error")} prohibited this configuration from being saved:"
      %ul
        - @configuration.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
